body{
	font-family: 'Swanky and Moo Moo', cursive;
	font-size: 3em;
	background-color: #4FE7D8;
}

.container{
	margin-top: 2em;
	background-color: rgba(255,255,255,.7);
	position: relative;
	padding: 1em;
}

#pantallaDosA, #pantallaDosB, #pantallaTres, #pantallaCuatro{
	display: none;
}

#fotoUno, #fotoDos, #fotoTres, #fotoCuatro, #fotoCinco, #fotoSeis, #fotoSiete, #fotoOcho, #fotoNueve, #fotoDiez,{
	display: block;
	border-radius: 10px;
}


#pelos{
	position: absolute;
	animation-name: pelos;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-direction:alternate;
}

@keyframes pelos{
	0%{right: 0%}
	25%{right: 25%}
	50%{right: 50%}
	75%{right: 75%}
	100%{right: 100%}
		
}

#lanzarJugada{
	display: none;
}

#engranajes{
	display: none;

}

#total{
	width: 50%;
	height: 100px;
	font-size: 2em;
}

input{
	display: none;
	margin: 2em;
}

#labelPares, #labelNones{
	box-shadow: 2px 2px 2px #333;
	border: solid 1px #333;
}

#labelPares:hover, #labelNones:hover{
	box-shadow: 8px 8px 8px #333;
}

.btn{
	font-size: 1.1em;
	border-color:darkviolet;
}

.btn:hover{
	background-color: orchid;
	border-color:orchid;
	color: #333;
	box-shadow: 8px 8px 8px #333;
}

.botonUno{
	border-radius: 10%;
	background-color: darkviolet; 
	border-color: darkviolet;
}

.botonDos{
	background-color: darkviolet; 
	border-color: darkviolet;
}

.cuadroResultado{
	width: 20%;
	margin: 0 auto;
	font-size: 5em;
	text-align: center;
	
}

#resultado{
	font-size: 2em;
}

