
#pantallaDosA, #pantallaDosB{
	display: none;
}


.botonUno{
	border-radius: 10%;
	background-color: darkviolet; 
	border-color: darkviolet;
}

.botonDos{
	background-color: darkviolet; 
	border-color: darkviolet;
}